.cache
auto-save-list
auto-saves
backups
eshell
private-packages
server
temp
transient
var
url

straight/build
straight/links
straight/modified
straight/repos

.lsp-session-*
.dap-breakpoints
.org-id-locations
config.el
org-roam.db
projectile.cache
recentf
/straight-bck/
